* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkkhaki;
    color: dimgrey;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 1.5rem;
}

.contenedor {
    background-color: rgb(228, 224, 186);
    padding: 20px;
    margin: 20px;
    width: 90%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header header header" "contenido contenido sidebar" "caja1 caja2 sidebar" "footer footer footer";
}

header {
    background-color: sandybrown;
    color: white;
    grid-area: header;
    padding: 20px;
    border-radius: 4px;
}

.li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

.contenido {
    padding: 10px;
    border: 4px;
    line-height: 1.5;
    grid-area: contenido;
}

.sidebar {
    padding: 20px;
    border: 4px;
    grid-area: sidebar;
    background-color: rgb(159, 177, 133);
}

.img {
    padding: 10px;
    border: 4px;
    float: left;
    max-width: 50px;
}

.caja1 {
    padding: 20px;
    border: 4px;
    color: rgb(27, 25, 25);
    background-color: rgb(226, 226, 121);
}

.caja2 {
    padding: 20px;
    border: 4px;
    color: rgb(27, 25, 25)te;
    background-color: rgb(226, 226, 121);
}

.caja1 {
    grid-area: caja1;
}

.caja2 {
    grid-area: caja2;
}

.footer {
    background-color: sandybrown;
    color: rgb(27, 25, 25)e;
    grid-area: footer;
    padding: 20px;
    border-radius: 4px;
}

.img {
    float: right;
    max-width: 300px;
}

@media screen and (max-width: 768px) {
    .contenedor {
        gap: 0.7rem;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: "header header header" "contenido contenido contenido" "sidebar sidebar sidebar" "caja1 caja2 caja2" "footer footer footer";
    }
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.5rem;
}